@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please click <b><a class="nav-link text-dark" asp-area="" asp-controller="ContactInfo" asp-action="Index">Contact Information</a></b></p>
</div>
