################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EHI_Assignment_Contacts/bin/Debug/netcoreapp3.1
